
nav{
    position: fixed;
    width: 100%;
    top: 0;
}

#image{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    max-width: 45rem;
    max-height: 30rem;
}

.form-control:focus{
    border: 1px solid black;
}

#login-form{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-login{
    padding: 50px 30px;
    width: 30%;
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
}

#Überschrift{
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 2.0em;
    font-weight: normal;
}

#mb-3{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}